!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content:'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Media Gallery
    = favicon_link_tag
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yesteryear'
    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
      = javascript_include_tag 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar', 'aria-expanded' => 'false', 'aria-controls' => 'navbar' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Media Gallery', root_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active= link_to 'Overview', media_index_path
            %li
              = link_to icon('cloud-upload', class: 'fw fa-lg') + ' Upload'
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
                = icon('user', class: 'fw fa-lg')
                Username
                %span.caret
              %ul.dropdown-menu
                %li= link_to icon('cog', class: 'fw') + ' Account'
                %li= link_to icon('wrench', class: 'fw') + ' Categories'
                %li= link_to icon('sign-out', class: 'fw') + ' Logout'

    .container

      = yield

    %footer.footer
      .container
        %p
          &copy; Koen Werdler 2015
